<div class="row">
  <div style="text-align:center">
    <h1>
       {{ title }}!
    </h1>
    <div class="text-center">
      <img src="../../assets/Images/Thembalethu.jpg" class="rounded" alt="..." style="width:13em;height:17em;">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-2 col-sm-12 col-lg-3 emptyDiv"></div>
  <div class="col-md-8 col-sm-12 col-lg-6">
    <br/>
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <input type="text" class="form-control" placeholder="Search Details" [(ngModel)]="term" name="term">
        </div>      
      </div>
    </form>

    <div>
        <button type="button" class="btn btn-primary buttonPadding pull-right" (click)="showCreateModal()">Add new Record</button>
    </div>
    <table class="table table-hover" style="width:100%">
      <thead class="thead-light">
          <tr>
              <th>First Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor= "let person of persons |filter:term">
            <td (click)="view(person)">{{person?.FirstName}}</td>
            <td (click)="view(person)">{{person?.Email}}</td>
            <td (click)="view(person)">{{person?.PhoneNumber}}</td>
            <td>
              <button type="button" class="btn btn-warning buttonPadding" (click)="setModel(person)">Update</button>
              <button type="button" class="btn btn-danger buttonPadding" (click)="delete(person)">Delete</button>
            </td>
          </tr>
      </tbody>
    </table> 
  </div>
  <div class="col-md-2 col-sm-12 col-lg-3 emptyDiv"></div>
</div>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong>Personal Details</strong></h5>
        <button type="button" class="close Close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <label class="col-2 margin">First Name</label>
          <input class="col-10 Input" placeholder="First name" [(ngModel)]="newPerson.FirstName"/>
        </div>
        <br/>
        <div class="">
            <label class="col-2 margin">Last Name</label>
            <input class="col-10 Input" placeholder="Last name" [(ngModel)]="newPerson.LastName"/>
        </div>
        <br/>
        <div class="">
              <label class="col-2 margin">Age</label>
              <input class="col-10 Input" type="number" placeholder="Age" [(ngModel)]="newPerson.Age"/>
        </div>
        <br/>
        <div class="">
            <label class="col-2 margin">Email</label>
            <input class="col-10 Input" placeholder="Email Address" [(ngModel)]="newPerson.Email"/>
        </div>
        <br/>
        <div class="">
            <label class="col-2 margin">Phone number</label>
            <input class="col-10 Input" placeholder="Phone Number" [(ngModel)]="newPerson.PhoneNumber"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning buttonPadding actionBtn" (click)="update()" *ngIf="isUpdate && !isHidden" >Save</button>
        <button type="button" class="btn btn-success actionBtn" (click)="create()" *ngIf="!isUpdate && !isHidden">Create</button>
        <button type="button" class="btn btn-secondary Close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



